@model ListaTarefas.Models.Tarefa

@{
    ViewData["Title"] = "Delete";
}

<h3>Deseja realmente excluir esta tarefa?</h3>
<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importancia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importancia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TarefaId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
